*{
    --subtleBlue : rgb(50, 150, 225);
    --lightBlue :  rgb(50, 175, 225);

    --subtleRed : rgb(230, 100, 100);
    --lightRed : rgb(200, 100, 100);

    --lightGrean :  rgb(50, 225, 150);

    --color-text : rgb(220, 220 ,220);
    --color-text2 : rgb(30, 30 ,30);
    --color-back1: rgb(45, 45, 45);
    --color-back2: rgb(80, 80, 80);
    --color-back3: rgb(30, 30, 30);

}

.img-logo{
    content : url("../../images/logoLight.png");;
    width : 100px;
    height : 100px;
}

.check-switch {
    width: 50px;
    height: 50px;
    content: url("../../images/switchOFF.png");
}