*{

    --subtleBlue : rgb(50, 150, 225);
    --lightBlue :  rgb(50, 175, 225);

    --subtleRed : rgb(230, 100, 100);
    --lightRed : rgb(200, 100, 100);

    --lightGrean :  rgb(50, 225, 150);
    --subtleGrean :  rgb(125, 240, 175);

    --lightYellow :  rgb(220, 220, 25);

}

@keyframes slowResize {
    0% {max-height: 25px;}
    100% {max-height: 30px;}
}

.info-text{
    margin-left: 4px;
    float: left;
    text-align: center;
}

.popup{
    display: flow;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 200px;
    height: 120px;
    -webkit-text-fill-color:  var(--color-text);
    background-color: var(--color-back1);
}

.hidden{
    display: none;
}

.info-data{
    -webkit-text-fill-color:  var(--lightGrean);
}

#user-pane{
    text-align: center;
    height: 450px;
}

.notification-div{
    cursor: pointer;
    border: none;
    width: 100%;
    height: 25px;
    overflow: hidden;
    text-align: center;
    border-radius: 2px;
    margin-top : 4px;
    margin-bottom : 4px;
    padding: 5px;
    background-color: var(--color-back2);
    -webkit-text-fill-color:  var(--color-text);
}
.notification-div:hover{
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-text);
    padding : 4px;
}
.info-text + .notification-topic{
    border: var(--lightYellow);
    border-style: hidden hidden hidden solid;
}

.notificationGroup-div{
    cursor: pointer;
    border: none;
    width: 100%;
    height: 50px;
    overflow: hidden;
    text-align: center;
    border-radius: 2px;
    margin-top : 6px;
    margin-bottom : 6px;
    padding: 5px;
    background-color: var(--color-back3);
    -webkit-text-fill-color:  var(--color-text);
}
.notificationGroup-div:hover{
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--lightGrean);
}

.div-selected{
    height: auto;
    cursor: auto;
    outline-color: var(--subtleBlue);
}
.div-selected:hover{
}
.div-selected > h4{
    cursor: pointer;
}

.notification-manipulation-button{
    cursor: pointer;
    border: none;
    width: 100%;
    height: 25px;
    overflow: hidden;
    text-align: center;
    border-radius: 2px;
    margin-top : 4px;
    margin-bottom : 4px;
    padding: 5px;
    background-color: var(--lightGrean);
    -webkit-text-fill-color:  var(--color-text2);
}

.notification-manipulation-button:hover {
    background-color: var(--subtleGrean);
}

.notification-remove-button{
    padding: 6px;
    cursor: pointer;
    position: page;
    -webkit-text-fill-color:  var(--color-text);
    background-color: var(--lightRed);
}

.notification-remove-button:hover {
    background-color: var(--subtleRed);
}

.notification-topic{
    text-align: center;
    font-size: 15px;
    height: 25px;
    padding: 2px;
    margin: 0;
}

.notification-group{
    font-size: 20px;
    height: 50px;
    padding: 2px;
    margin: 0;
}

.notification-message{
    padding: 0;
    margin: 0;
}

.notification-list{
    margin: 10px;
    text-align: center;
    height: max-content;
}

#notification-array{
    padding: 10px;
    width: 500px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: transparent;
    margin: 5px;
}
::-webkit-scrollbar-thumb{
    background: var(--color-text);
    border-radius: 2px;
}

.HBox{
    margin-left: auto;
    margin-right: auto;
}

hr{
    border-bottom-color: var(--color-text);
    background-color:  var(--color-text);
}

.bar-upper{
    align-content: center;
    border-radius: 8px;
    margin-top : 8px;
    margin-bottom : 8px;
    background-color: var(--color-back1);
    -webkit-text-fill-color:  var(--color-text);
}

.label-bar{
    font-size: 14px;
    width: 50px;
    height: 50px;
}

#darkula{
    -webkit-text-fill-color: rgb(45,45,45);
}
#light{
    -webkit-text-fill-color: rgb(230,230,230);
}

#stylebox{
    position: absolute;
    opacity: 0;
}

.div-background{
    border-radius: 8px;
    padding: 24px;
    background-color: var(--color-back1);
    -webkit-text-fill-color:  var(--color-text);
}

.menu-side{
    width: 150px;
    height: 450px;
}

.div-login{
    height: 360px;
    width: 225px;
}

.div-register{
    height: 460px;
    width: 225px;
}

.menu-button{
    white-space: normal;
    padding: 8px;
    margin: auto;
    width: 100%;
    height: 60px;
    text-align: -webkit-center;
    font-size: 16px;
    border-radius: 2px;
    border-width: 0;
    cursor: pointer;
    background-color: transparent ;
    -webkit-text-fill-color:  var(--color-text1);
}
.menu-button:hover, .login-button:focus{
    background-color: var(--color-back2) ;
}
.menu-button:active{
}

.login-input{
    padding: 5px 0 5px 0;
    margin: auto;
    width: 100%;
    height: 20px;
    text-align: -webkit-center;
    font-size: 16px;
    border-radius: 2px;
    border-width: 0;
}
.login-input::content{
    margin: 5px;
}

.login-button{
    padding: 8px;
    height: 30px;
    cursor: pointer;
    background-color: var(--subtleBlue) ;
    -webkit-text-fill-color:  var(--color-text2);
}
.login-button:hover, .login-button:focus{
    background-color: var(--lightBlue) ;
}
.login-button:active{
}

.login-text {
    background-color:  rgb(250, 250, 250);
    -webkit-text-fill-color: rgb(25, 25, 25);
}

.wrong{
    outline-style: outset;
    outline-width: 2px;
    outline-color: var(--subtleRed);
}

.login-text:focus{
    outline-style: outset;
    outline-width: 2px;
    outline-color: var(--subtleBlue);
}
.login-text::placeholder{
    -webkit-text-fill-color: rgba(25, 25, 25, 0.25);
}

.error_info{
    position: absolute;
    -webkit-text-fill-color: var(--subtleRed);
}
