<div class="external_services" ng-switch="currentState">

    {{info}}
    <div ng-switch-when=0 class="service-list">

        <button name="twitterButton" class="service-button twitter-button" ng-click="ToTwitter()">
            <img>
        </button>

        <button name="pwrButton" class="service-button pwr-button" ng-click="ToPWR()">
            <img>
        </button>

    </div>

    <twitter-window ng-switch-when=1 ></twitter-window>
    <website-window ng-switch-when=2 ></website-window>

    <div ng-if=" currentState!=0 ">
        <br>
        <hr>
        <br>
        <button  name="backButton" class="back-button"  ng-click="backToList()" > back to list </button>
    </div>
</div>
