<div class="div-background" >

    <table>
        <tr><td>
            <img class="img-logo">
        </td><td>
            <h1> Notify <br/> Me </h1>
        </td></tr>
    </table>
    <hr>
    <form ng-submit="validate()">
        <p><input ng-class="loginInputStyle" ng-focus="inputReset()" type="text" placeholder="username" ng-model="username"> </p>
        <p><input ng-class="loginInputStyle" ng-focus="inputReset()" type="password" placeholder="password" ng-model="password"> </p>
        <p><input class="login-input login-button" type="submit" value="Login"></p>
    </form>

</div>