<div class="notification-list" ng-switch=$ctrl.type ng-init="loadData($ctrl.from, $ctrl.type)">


    <notification-element ng-switch-when="notifications" ng-repeat="notification in storedData.notifications"
                add-self = addThis
                my-notification = notification
                request-focus = elementRequestFocus
                remove-my = removeElement
    ></notification-element>

    <notifications-group ng-switch-when="groups" ng-repeat="notification in storedData.groups"
                          add-self = addThis
                          group = notification
                          request-focus = elementRequestFocus
    ></notifications-group>

</div>