
<div  ng-class="notificationFocus" ng-init=$ctrl.addSelf($ctrl)>
    <div ng-if=!($ctrl.myNotification.flag) class="marker">not read yet</div>

    {{info}}
    <h4 ng-click=$ctrl.requestFocus($ctrl) class="notification-topic" >{{ $ctrl.myNotification.topic.substr(0,40) }} <span style="font-size: 18px" ng-if="$ctrl.myNotification.topic.length > 40">...</span></h4>
    <h4 ng-click=$ctrl.requestFocus($ctrl) class="notification-fulltopic" >{{ $ctrl.myNotification.topic }}</h4>

    <div ng-if="$ctrl.myNotification.count>0"> <h4  >Count: {{$ctrl.myNotification.count}}</h4> </div>
    <br ng-if="$ctrl.myNotification.count==0" />
    <br ng-if="$ctrl.myNotification.count==0" />

    <div class="notification-message"> {{$ctrl.myNotification.timestamp}} </div>
    <br/>
    <div class="notification-message"> {{$ctrl.myNotification.message}} </div>
    <hr>
    <div ng-click=$ctrl.removeMy($ctrl) class="notification-remove-button">remove</div>

</div>